@import'vars';

.container3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    font-family:$main-font;
    width: 40%;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
 
}

   .pro{
    grid-column:1/2;
    grid-row:1/2;

    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #111111;

mix-blend-mode: normal;
opacity: 0.5;
    
}
.gp{
    grid-column:2/2;
    grid-row:1/2;
    
}
.de{
    grid-column:1/2;
    grid-row:2/3;
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #111111;

mix-blend-mode: normal;
opacity: 0.5;
    
}
.bs{
    grid-column:2/2;
    grid-row:2/3;
    
}
.cl{
    grid-column:1/2;
    grid-row:3/4;
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #111111;

mix-blend-mode: normal;
opacity: 0.5;
}
.cw{
    grid-column:2/2;
    grid-row:3/4;
    
}
.dl{
    grid-column:1/2;
    grid-row:4/5;
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #111111;

mix-blend-mode: normal;
opacity: 0.5;
    
}
.wb{
    grid-column:2/2;
    grid-row:4/5;
    
}
.ye{
    grid-column:1/2;
    grid-row:5/6;
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #111111;

mix-blend-mode: normal;
opacity: 0.5;
    
}
.yn{
    grid-column:2/2;
    grid-row:5/6;
    
}
.fi{
    grid-column:1/2;
    grid-row:6/7;
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #111111;

mix-blend-mode: normal;
opacity: 0.5;
}
.bp{
    grid-column:2/2;
    grid-row:6/7;
    
}
