@import'_vars';



header {
  
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23px;
}

.text2{
    font-family: $main-font;

}
.logo {
    margin-left: 30px;
    font-size: 40px;
    font-family:$main-font;

}

.nav {
  
    height: 23px;
    left: 126px;
    top: 61px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    ol{
        list-style-type: none;
        display: flex;
        font-family: $main-font;
        li{
            padding: 15px;
            font-family: $main-font;
        }
    }
}
   
.text{
    left: 0%;
    right: 0%;
    top: 23.9%;
    bottom: 0%;
    width: 1079px;
    font-family:$main-font;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;


}
.text1{
    display: flex;
}
.progress{
   
left: 0%;
right: 2.36%;
top: calc(50% - 23px/2 + 5.5px);
font-family:$main-font;
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #111111;
mix-blend-mode: normal;
opacity: 0.6;
display: flex;
justify-content: flex-end;
}





    
    
   
