a {
  font-family: "Mulish", sans-serif;
}
a:hover {
  color: red;
}

.body {
  margin: 25px;
  background: #FFFFFF;
  padding: 10px;
}

main {
  margin: 20px;
}

li {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  mix-blend-mode: normal;
  opacity: 0.6;
}