a {
  font-family: "Mulish", sans-serif;
}
a:hover {
  color: red;
}

a {
  font-family: "Mulish", sans-serif;
}
a:hover {
  color: red;
}

header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 23px;
}

.text2 {
  font-family: "Mulish", sans-serif;
}

.logo {
  margin-left: 30px;
  font-size: 40px;
  font-family: "Mulish", sans-serif;
}

.nav {
  height: 23px;
  left: 126px;
  top: 61px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav ol {
  list-style-type: none;
  display: flex;
  font-family: "Mulish", sans-serif;
}
.nav ol li {
  padding: 15px;
  font-family: "Mulish", sans-serif;
}

.text {
  left: 0%;
  right: 0%;
  top: 23.9%;
  bottom: 0%;
  width: 1079px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.text1 {
  display: flex;
}

.progress {
  left: 0%;
  right: 2.36%;
  top: calc(50% - 11.5px + 5.5px);
  font-family: "Mulish", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
  display: flex;
  justify-content: flex-end;
}

a {
  font-family: "Mulish", sans-serif;
}
a:hover {
  color: red;
}

footer {
  font-family: "Mulish", sans-serif;
  width: 100%;
  height: 23px;
  left: 125px;
  top: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  font-family: "Mulish", sans-serif;
}
a:hover {
  color: red;
}

body {
  margin: 20px;
  background: #FFFFFF;
  padding: 10px;
}

main {
  margin: 50px;
}

li {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  color: #111111;
  display: flex;
  flex-direction: column;
  mix-blend-mode: normal;
  opacity: 0.6;
}

a {
  font-family: "Mulish", sans-serif;
}
a:hover {
  color: red;
}

.container3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-family: "Mulish", sans-serif;
  width: 40%;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.pro {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.gp {
  grid-column: 2/2;
  grid-row: 1/2;
}

.de {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.bs {
  grid-column: 2/2;
  grid-row: 2/3;
}

.cl {
  grid-column: 1/2;
  grid-row: 3/4;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.cw {
  grid-column: 2/2;
  grid-row: 3/4;
}

.dl {
  grid-column: 1/2;
  grid-row: 4/5;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.wb {
  grid-column: 2/2;
  grid-row: 4/5;
}

.ye {
  grid-column: 1/2;
  grid-row: 5/6;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.yn {
  grid-column: 2/2;
  grid-row: 5/6;
}

.fi {
  grid-column: 1/2;
  grid-row: 6/7;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.bp {
  grid-column: 2/2;
  grid-row: 6/7;
}

.item {
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text3 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.pics {
  display: flex;
  gap: 15px;
}/*# sourceMappingURL=projects.css.map */